html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#main{
	position:relative;
	width: 100%;
	height: 100%;
}
#main>section{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.page1{
	background-color: #45cd44;
}
.page2{
	background-color: #ff0000;
}
.page3{
	background-color: #66dfdd;
}