html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#main{
	position:relative;
	width: 100%;
	height: 100%;
}
#main>section{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.page1{
	background-color: #45cd44;
}
.page2{
	background-color: #ff0000;
}
.page3{
	background-color: #66dfdd;
}
.scroll-pagination {
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 5;
	list-style: non
	margin: 0;
	padding: 0;
}
.scroll-pagination li a{
	padding: 10px;
	display: block;		  
}
.scroll-pagination li a:before{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: rgba(67,67,67,0.85);
	border-radius: 50%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.scroll-pagination li a.active:before{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: rgba(255,255,255,0.85);
	border-radius: 50%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}